<html>
<head>
<title>Title of Page</title>
<link rel="stylesheet" type="text/css" href="decider_style.css">
</head>
<body>
<h1>THE NAME OF THE WEBSITE GOES HERE</h1>
<br>
<form>
<textarea name="question" class="top">Big Question</textarea>
</td>
<br>
<table style="border:solid" class="chart">
{{chart}}
</table>
<input type="Reset" class="button" value="Clear Table">
<input type="Button" id="decide" class="button" value="Decide">
</form>
<div id="results">
<p id="resultList"> </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="chart.js"></script>
</body>
</html>
