<html>
<head>
  <title>Decidable</title>
  <link rel="stylesheet" type="text/css" href="decider_style.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  <link rel="icon"
      type="image/png"
      href="icon-ux-blue.png">
</head>
<body>
  <h2>

    <ul class="navigation">
      <li>
        <a href="/" class="menu-item">Home</a>
      </li>
      <li>
        <a href="how-to" class="menu-item">How To</a>
      </li>
      <li>
        <a class="menu-item">Make a Decision</a>
        <ul class="navdropdown">
          <li><a href="/college" class="dropdown-content" >College</a></li>
          <li><a href="/house" class="dropdown-content" >House/Apt</a></li>
          <li><a href="/dinner" class="dropdown-content" >Dinner</a></li>
          <li><a href="/general" class="dropdown-content" >Other</a></li>
        </ul>
      </li>
      <li>
        <a href="about" class="menu-item">About Us</a>
      </li>
    </ul>

  </h2>

<div class="white"></div>
<br>
<div id="printable">
<form>
<textarea id="question" rows='1' class="top">Big Question</textarea><br>
<div class="button_center">
<input type="Button" id="newCol" class="button" value="Add Option">
<input type="Button" id="deleteCol" class="button" value="Remove Option">
<input type="Button" id="newRow" class="button" value="Add Factor">
<input type="Button" id="deleteRow" class="button" value="Remove Factor">
<input type="Reset" class="button" value="Clear Table">
</div>
<br>
<table id="myTable" class="chart" cellspacing='0'>
{{chart}}
</table>
<div class="button_center">
<input type="Button" id="decide" class="button" value="Decide">
</div>
</form>
<a name="bottom">
<div id="results">
<p id="resultList"> </p>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="chart.js"></script>
</body>
<footer>Made by Jacqui, Alanah, and Christina in CSSI 2016</footer>
</html>
