<html>
<head>
<title>Decision Maker</title>
<link rel="stylesheet" type="text/css" href="decider_style.css">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand" />
<link rel="icon"
    type="image/png"
    href="icon-ux-blue.png">
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="how-to">How-To</a></li>
  <li><a href="about">About Us</a></li>
</ul>
</head>
<body>
<h1>The Make-Up-Your-Mind Machine</h1>
<br>
<form>
<textarea id="question" class="top">Big Question</textarea><br>
<input type="Button" id="newCol" class="button" value="Add Option">
<input type="Button" id="newRow" class="button" value="Add Factor">
<input type="Button" id="deleteCol" class="button" value="Remove Option">
<input type="Button" id="deleteRow" class="button" value="Remove Factor">
<br>
<table id="myTable" class="chart">
{{chart}}
</table>
<input type="Reset" class="button" value="Clear Table">
<input type="Button" id="decide" class="button" value="Decide">
</form>
<div id="results">
<p id="resultList"> </p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="chart.js"></script>
</body>
</html>
