td{
  border:solid;
}
table{
  width=100%;
}
textarea{
}
.col1{
  width: 200px;
}
.col2{
  width:100px;
}
.colodd{

}
.coleven{

}
.row1{
  height:50px;
}
.rowodd{

}
.roweven{

}
.option{

}
.factor{

}
.dropdown{

}
.top{
 font-family: "Quicksand", sans-serif;
}
.button{

}
h1{
  
}
