/* @import "compass/css3"; */


html {
  background: url('download.png');
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Quicksand;
}
.white {
  background-color: white;
  opacity: .7;
  float: right;
  z-index: -1;
  width: 85%;
  top: 70px;
  bottom: 70px;
  position: fixed;
  left: 7.5%;
  margin-left: auto;
  margin-right: auto;
}

.page-words {
  width: 79%;
  top: 30%;
  bottom: 70px;
  left: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: 18pt;
  border-style: dashed;
  padding-bottom: 70px;
}

  .page-words > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.navigation {
  height: 50px;
  background-color: #006B89;
  position: fixed;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  list-style: none;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-family: Quicksand;
}

  .navigation > li {
    width: 25%;
    font-family: Quicksand;
  }

  .menu-item {
    margin: 7px;
    padding: 5px;
    display: block;
    justify-content: space-around;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: #4A96AD;
    color: white;
    font-size: 16pt;
    font-family: Quicksand;
  }
    .menu-item:hover {
      background-color:#8E84D6;
      color: white;
    }
    /* visited link
    .menu-item a:visited {
        color: #88CAEA;
    } */

      .navdropdown {
        display: none;
        position: absolute;
        background-color: #4A96AD;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 0px;
        list-style: none;
        text-align: center;
        color: white;
        text-decoration: none;
      }

      .navigation li:hover .navdropdown {
        display: block;
        width: inherit;
        color: white;
        text-decoration: none;
      }

      .navigation li:hover .navdropdown li:hover{
        background-color:#8E84D6;
      }

      .dropdown-content {
        color: white;
        text-decoration: none;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        /* min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1; */
      }

      /* .dropdown-content a:visited {
        background-color:#8E84D6;
      } */

      .dropdown-content a:link {
        color: white;
      }

      .navdropdown:hover .dropdown-content {
          display: block;
          text-decoration: none;
          color: white;
      }

      .navdropdown:hover .menu-item {
          display: block;
      }

    /* selected link
    .menu-item a:active {
        background-color: #EE8D09;
        color: #88CAEA;
    } NEED TO FIX THIS - Christina */

h1 {
  text-align: center;
  font-size: 100px;
  color: #003D4E;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  margin-top: 90px;
  padding-top: 20px;
  font-family: Quicksand;
}

h3 {
  color: #0C0257;
  font-weight: bolder;
}

.flex-container {
  width: 100%;
  align-content: space-between;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  clear: both;
  left: 7.5%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
  .imgtext {
    position: absolute;
    margin: 0px;
    left:0;
    right:0;
    top:0;
    bottom:0;
    text-align: center;
    line-height: 250px;
    /*padding-top: 100px;*/
    border-radius: 50%;
    background: linear-gradient(to bottom,#EB376D, #FF00FF,#FF66FF,#FF00FF,#EB376D);
    color: white;
    height: 250px;
    width: 250px;
    display: flex;
    flex-flow: wrap;
    visibility: hidden;
    justify-content: space-around;
    opacity: 0;
}
.imghover {
  position: relative;
  height: 250px;
  width: 250px;
  justify-content: space-around;
  display: flex;
  flex-flow:wrap;
  border:2px;
  border-color: #EB376D;
  border-radius: 50%
}
.imghover:hover .imgtext{

  visibility: visible;
  opacity: 1;
}
  .flex-item {
    width: 230px;  /* Or whatever */
    height: 230px; /* Or whatever */
    border: 2px;
    border-color: #4A96AD;
    border-style: solid;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
  }
.tagline {
  color: #003D4E;
  text-align: center;
  clear: both;
  width: 100%;
  padding-bottom: 110px;
  font-size: 36px;
  padding-top: 50px;
  }
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #006B89;
  color: white;
}
td{
  border-width: 0px;
  margin:0px;
}
table{
  text-align: center;
  clear:both;
}
textarea{
    outline: 0;
    border: 0px;
    width: 100%;
    /*line-height:120%;*/
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    font-family: Quicksand;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
} /* size of text box, and making backgrounds different colors, and changing the font but NOT font size */
#printable{
  float:right;
  margin-right: 10%;
  display: block;
  alignment: center;
  align-self: center;
  text-align: center;
  border: none;
  width: 80%;
  margin-bottom: 100px;
}
.col1{
  background-color: #003D4E;
  border-right: 2px;
  border-color: white;
  border-style: solid;
  color: white;
  font-size: 20px;
  min-width: 200px;
}
.col2{
  background-color: #003D4E;
  width:100px;
  color: white;

}
.colodd{
  background-color: #006B89;
  border-left: 2px;
  border-color: white;
  border-style: solid;
  /*opacity: 0.95;
  filter: alpha(opacity=95);*/
}
.coleven{
  background-color: #006B89;
  border-left: 2px;
  border-color: white;
  border-style: solid;
  /*opacity: 0.75;
  filter: alpha(opacity=75);*/
}
.row1{
  height:50px;
  max-height: 50px;
}
.rowodd{
  background-color: #AFA6f8;
  max-height: 48px;
  min-height: 48px;
}
tr {
  max-height: 48px;
  min-height: 48px;
}

.roweven{
  background-color: #8E84D6;
}
.option{
  padding-top: 7px;
  font-size: 20px;
  height: 100%;
  min-width: 120px;
}
.factor{
  padding-top: 11px;
  font-size:20px;
  height: 100%;
}
.dropdown{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: Quicksand;
  font-size: 20px;
  text-align: center;
  color: white;
}
.top{
 width: 100%;
 text-align: center;
 font-family: "Quicksand", sans-serif;
 color: #003D4E;
 font-size: 40px;
 height: 50px;
}
.button{
    background-color: #EB376D;
    border:none;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    white-space: pre-wrap;
    font-size: 16px;
    font-family: Quicksand;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin: 10px;
}
/*.button_center{
  margin:auto;
}*/
#decide{
  background-color:#3099B7;
  height: 100px;
  width: 100px;
  font-size: 20px;
}
#newCol, #newFood, #newHouse, #newSchool{
  background-color: #006B89;
}
#newRow{
  background-color: #8E84D6;
}
#deleteCol{
  background-color: #F186A6;
}
#deleteRow{
  background-color: #FFBE3C;
}
#resultList{
  font-size: 40px;
}
