<!DOCTYPE html>
<html>
<head>
  <title>Decision Maker</title>
  <link rel="stylesheet" type="text/css" href="decider_style.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  <link rel="icon"
      type="image/png"
      href="icon-ux-blue.png">
</head>

<body>

  <h2>

    <ul class="navigation">
      <li>
        <a href="/" class="menu-item">Home</a>
      </li>
      <li>
        <a href="how-to" class="menu-item">How To</a>
      </li>
      <li>
        <a class="menu-item">Make a Decision</a>
        <ul class="navdropdown">
          <li><a href="/college" class="dropdown-content" >College</a></li>
          <li><a href="/house" class="dropdown-content" >House</a></li>
          <li><a href="/dinner" class="dropdown-content" >Dinner</a></li>
          <li><a href="/general" class="dropdown-content" >Other</a></li>
        </ul>
      </li>
      <li>
        <a href="about" class="menu-item">About Us</a>
      </li>
    </ul>

</h2>

<div class="white"></div>

<h1>How-To</h1>

<div class="page-words">

  <p>Here is how to fill out the charts:</p>
    <ol>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ol>
  <p>Once you get your results then your decision is made easier</p>
  <img src = "http://www4.pictures.zimbio.com/mp/qVMjKXev9eFx.gif" width="200" height="150" alt="Celabration Gif">

</div>

</body>

<footer>Made by Jacqui, Alanah, and Christina in CSSI 2016</footer>

</html>
