<!DOCTYPE html>
<html>
<head>
  <title>Decision Maker</title>
  <link rel="stylesheet" type="text/css" href="decider_style.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
  <link rel="icon"
      type="image/png"
      href="icon-ux-blue.png">
</head>

<body>

<h2>

  <ul class="navigation">
    <a href="/" class="menu-item"><li>Home</li></a>
    <a href="how-to" class="menu-item"><li>How-To</li></a>
    <a href="about" class="menu-item"><li>About Us</li></a>
  </ul>

</h2>

<div class="white"></div>

  <h1>Decider 5000</h1>

  <div class="flex-container">

  <a href="college">
    <img src="college_pic.jpg" class="flex-item" alt ="College Chart" width = "200" height = "200">
  </a>
  <a href="house">
    <img src="house.jpg" class="flex-item" alt="House Chart" width = "200" height = "200">
  </a>
  <a href="generaldecision">
    <img src ="blank_page.jpg" class="flex-item" alt ="Blank Chart" width = "200" height = "200">
  </a>

  </div>

</body>

<footer>Made by Jacqui, Alanah, and Christina in CSSI 2016</footer>

</html>
